.header {
    background-color: #F0EFEB;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 4px 50px;
    overflow: hidden;
    justify-content: space-between; /* Ensure items are spread out */
    align-items: center; /* Vertically center items */
  }
  
  
 .header div {
    margin-right: 200px;
  }
  
   .header button {
    border-radius: 100px;
    height: max-content;
    width: max-content;
  }
  
  .header button:hover:not(:first-child) {
    background-color: black;
    transition: all 400ms ease-in;
    color: aliceblue;
  }
  
  .header .logout {
    border-radius: 0px;
  }
  
  .header .signin {
    border-radius: 0px;
  }
  
  .header .logout:hover {
    background-color: #F0EFEB;
    color: blueviolet;
  }
  
  .header .signin:hover {
    background-color: #F0EFEB;
    color: blueviolet;
  }
  
  .header .signin a:hover {
    color: black;
  }
  
  .header .logout a:hover {
    color: black;
  }
  
  .header .menubar {
    display: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .container2 {
    background-color: #F0EFEB;
    position: fixed;
    right: -200px;
    top: 0px;
    height: 100vh;
    width: 150px;
    padding: 5px 5px 0px 10px;
    transition: all 400ms ease-in;
    overflow-x: hidden;
    z-index: 1000;
  }
  
  .container2 .navbar2 {
    top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure buttons are stacked vertically */
  }
  
  .container2 .navbar2 button {
    width: 130px;
  }
  
  .container2 .navbar2 button:hover {
    background-color: black;
    transition: all 400ms ease-in;
    color: aliceblue;
  }
  
  .container2 .navbar2 {
    gap: 30px;
  }
  
  
  @media screen and (max-width: 730px) {
    .header .menubar {
      display: inline;
      transition: all 400ms ease-in;
    }
  
    .header button:not(:first-child){
      display: none;
      transition: all 400ms ease-in;
    }
  }
  


  